.u-section-1 .u-sheet-1 {
  min-height: 632px;
}

.u-section-1 .u-table-1 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-160b-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5626em;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5626em;
  margin-top: 0;
}

.u-section-1 .u-icon-4 {
  font-size: 1.5626em;
}

.u-section-1 .u-icon-6 {
  font-size: 1.5626em;
}

.u-section-1 .u-icon-8 {
  font-size: 1.5626em;
}

.u-section-1 .u-icon-10 {
  font-size: 1.5626em;
}

.u-section-1 .u-icon-12 {
  font-size: 1.5626em;
}

.u-section-1 .u-icon-14 {
  font-size: 1.5626em;
}

.u-section-1 .u-icon-16 {
  font-size: 1.5626em;
}.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-text-1 {
  margin: 69px auto;
}